package ${daoPackage} ;

import ${pojoPackage}.${bigDoName};
import ${daoPackage}.DaoMapper;

/**
* @author: veitch
* @comments:  ${headName}持久层
* @since Date： ${date}
*/
public interface ${bigDaoName} extends DaoMapper<${bigDoName}, ${idType}>  {
}
