package ${servicePackage};

import ${pojoPackage}.${bigDoName};
import ${serviceImplPackage}.GenericService;

/**
* @author: veitch
* @comments:  ${headName}服务层
* @since Date： ${date}
*/
public interface ${bigServiceName} extends GenericService<${bigDoName}, ${idType}>  {
}
